.manage-specialty-container{
    padding: 0 15px;
    .title{
        text-align: center;
        margin: 10px 0;
    }
    .manage-specialty-container{
        .btn-save-new-specialty{
            border: none;
            background: gray;
            padding: 8px 5px;
            min-width: 75px;
            border-radius: 30px;
            margin: 15px 0;
        }

    }

 
}